# path/to/project/root/.eslintignore
# /node_modules/* and /bower_components/* in the project root are ignored by default
/node_modules/*
vue.config.js

# Ignore built files except build/index.js
dist/*
