{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "plugins": ["vue"],
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "babel-eslint",
        "sourceType": "module"
    },
    "extends": [
        "airbnb-base",
        "plugin:vue/vue3-recommended"
    ],
    "rules": {
        "no-console": "off",
        "indent": ["error", 4],
        "consistent-return": "off",
        "no-mixed-operators": "off",
        "import/no-unresolved": "off",
        "no-await-in-loop": "off",
        "no-underscore-dangle": "off",
        "no-return-assign": "off",
        "prefer-destructuring": "off",
        "no-param-reassign": "off",
        "max-len": ["error", { "code": 120 }],
        "no-plusplus": "off",
        "no-continue": "off",
        "vue/require-v-for-key": "off",
        "func-names": "off",
        "radix": "off",
        "vue/no-use-v-if-with-v-for": "off",
        "vue/require-default-prop": "off",
        "vue/no-v-html": "off",
        "no-restricted-syntax": "off",
        "camelcase": "off",
        "vue/html-indent": ["error", 4],
        "vue/component-tags-order": "off"
    }
}
