@import "utils/libs";
@import "utils/vars";
@import "components/bgStars";
@import "components/coreTitle";

#app {
    overflow: hidden;
    min-height: 100vh;
}

.neon-button {
    margin: 20px 40px;
    position: fixed;
    right: 0;
    bottom: 0;
    @media (max-width: $tableWidth) {
        margin: 10px 20px;
    }
}

.slide-right-enter-active {
     animation: slide-in-blurred-right 1s ease-in-out both;
 }
.slide-right-leave-active {
    animation: slide-in-blurred-right 1s ease-in-out both reverse;
}

.slide-left-right-enter-active {
    animation: slide-in-blurred-left 1s ease-in-out both;
}
.slide-left-right-leave-active {
    animation: slide-in-blurred-right 1s ease-in-out both reverse;
}

@keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-right {
    0% {
        -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.fade-in-enter-active {
    animation: fade-in .5s ease-in-out both;
}
.fade-in-leave-active {
    animation: fade-in .5s ease-in-out both reverse;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


